
@import '../../common/styles/_mixins.scss';

#new-role {
    position: relative;
    width: 49em;
    max-width: 98%;
    max-width: calc(100% - 2em);
    padding: 2em;
    border: 1px solid var(--dark-1);
    border-radius: .4em;
    background: #fffa;
    backdrop-filter: blur(32px);
    overflow: hidden;

    .no-results {
        font-style: italic;
        color: var(--dark-2);
    }
}