:root {
    --accent: #e13;
    --fg: #124;
    --mg: #8891a2;
    --bg: #fff;
    --light-1: #fff9;
    --dark-1: #0002;
    --dark-2: #0008;
    --signal-success: #3c7;
    --black: #000;
    --white: #fff;
}
